{% extends "web_app/base.html" %}

{% block content %}
    <form action="/create-folder" method="post">
        {% csrf_token %}
        <input type="hidden" name="parent" value="{{ folder }}">
        <label>Folder-Name:</label>
        <input name="name" type="text">
        <input type="submit">
    </form>
    
    <br>
    <a href="/create-note/{{ folder }}">New-Note</a>
    <br>

    <br><hr><br>
    
    {% if folders %}
        {% for f in folders %}
            <a href="/{{ f.id }}/notes">
                <p class="folder">{{ f.name }}</p>
            </a>
        {% endfor %}
        <br>

        <br><hr><br>
    {% endif %}

    {% for n in notes %}
        <p class="note">
            {{ n.content|linebreaksbr|safe }}
        </p>
    {% endfor %}
{% endblock %}